<div class="re-table">
  <div class="table-toolbar" ng-if="options.toolbarFlag">
    <div class="table-toolbar-action col-xs-12 col-sm-6 no-padding" ng-if="options.searchFlag || options.editFlag">
      <div ng-if="options.searchFlag" class="input-group table-search">
        <input type="text" class="form-control input-sm" ng-model="options.search.value" ng-enter="doSearch(1)" placeholder="{{getWord('关键字查找')}}">
        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
      </div>
      <table-edit edit="options.edit" ng-if="options.editFlag"></table-edit>
    </div>
    <div class="table-toolbar-show col-sm-6 col-xs-12 hidden-xs no-padding" ng-if="options.tableRowFlag || options.tableColumnFlag">
      <table-row ng-if="options.tableRowFlag" options="options" class="table-row"></table-row>
      <table-column ng-if="options.tableColumnFlag" columns="options.columns" class="table-column"></table-column>
    </div>
  </div>
  <table id="user-table" class="table table-bordered table-hover" ng-class="{'table-sorting':options.sortFlag, 'table-detail': options.detailFlag, 'table-striped': !options.detailFlag }">
    <thead>
    <tr ng-if="options.filterFlag" class="table-filter">
      <th ng-if="options.checkboxFlag"></th>
      <th ng-repeat="el in options.columns" ng-if="el.showed" ng-switch="el.filterType">
        <select ng-switch-when="select" class="form-control input-sm" ng-model="filter[el.filter]" ng-disabled="!el.filter" ng-change="doSearch(1)" ng-options="o.value as o.label for o in el.filterOptions"></select>
        <ng-date-range-picker ng-switch-when="dateRangePicker"
                              single-date-picker="{{el.filter.length == 1}}"
                              start-time="filter[el.filter[0]]"
                              end-time="filter[el.filter[1]]"
                              on-apply="doSearch(1)"
                              on-cancel="doSearch(1)"
                              placeholder="{{el.placeholder || el.label}}"
                              class="form-control input-sm"></ng-date-range-picker>
        <input ng-switch-default type="text" class="form-control input-sm" ng-model="filter[el.filter]" ng-disabled="!el.filter" ng-enter="doSearch(1)" placeholder="{{el.placeholder || el.label}}">
      </th>
    </tr>
    <tr>
      <th ng-if="options.checkboxFlag"><input type="checkbox" ng-click="options.checkbox.toggleAll()" ng-model="options.checkbox.checkedAll"></th>
      <th ng-repeat="el in options.columns track by $index" ng-if="el.showed" ng-class="{'sorting': el.sort, 'sorting-asc': el.name == sort.name && sort.how == 'asc', 'sorting-desc': el.name == sort.name && sort.how == 'desc'}" ng-click="sortBy($index, $event)"><span ng-bind="el.label"></span></th>
    </tr>
    </thead>
    <tbody ng-if="options.detailFlag && data.length > 0">
    <tr role="row" ng-repeat-start="el in data track by $index" ng-class="{'detail-opened': el.detailOpened}">
      <td ng-if="options.checkboxFlag"><input type="checkbox" ng-checked="options.checkbox.checkedAll" ng-click="options.checkbox.toggle($index)"></td>
      <td ng-repeat="el2 in options.columns" ng-if="el2.showed">
        <span ng-if="!el2.html" ng-bind="el[el2.name]"></span>
        <span ng-if="el2.html" ng-compile-html="el2.html(el[el2.name])"></span>
      </td>
    </tr>
    <tr ng-repeat-end="" ng-compile-html="options.detailHtml(el)"></tr>
    </tbody>
    <tbody ng-if="!options.detailFlag && data.length > 0">
    <tr role="row" ng-repeat="el in data track by $index">
      <td ng-if="options.checkboxFlag"><input type="checkbox" ng-checked="options.checkbox.checkedAll" ng-click="options.checkbox.toggle($index)"></td>
      <td ng-repeat="el2 in options.columns" ng-if="el2.showed">
        <span ng-if="!el2.html" ng-bind="el[el2.name]"></span>
        <span ng-if="el2.html" ng-compile-html="el2.html(el[el2.name])"></span>
      </td>
    </tr>
    </tbody>
  </table>
  <table-footer page="options.page" ng-if="options.pageFlag && data.length > 0"></table-footer>
  <div class="no-result" ng-if="!data || data.length < 1">无查询结果，请尝试调整查询条件</div>
</div>
