<div class="re-table">
  <div class="table-toolbar">
    <div class="table-toolbar-action col-xs-12 col-sm-6 no-padding">
      <div ng-if="options.searchFlag" class="input-group table-search">
        <input type="search" class="form-control input-sm" ng-model="searchValue" ng-enter="searchUsers()" placeholder="{{getWord('关键字查找')}}">
        <span class="input-group-addon input-sm" role="button" ng-click="searchUsers()"><i class="fa fa-search"></i></span>
      </div>
      <div ng-if="options.editFlag" class="table-edit">
        <a class="btn btn-primary btn-sm" href="" data-toggle="modal" role="button"
           data-target="#create-user-modal" ng-click="beginCreateUser()"><i class="fa fa-plus"></i></a>
        <a class="btn btn-primary btn-sm" href="" data-toggle=" " role="button"
           data-target=" " ng-click="beginDeleteUsers()"><i class="fa fa-trash-o"></i></a>
      </div>
    </div>
    <div class="table-toolbar-show col-sm-6 col-xs-12 hidden-xs no-padding">
      <table-row ng-if="options.tableRowFlag" options="options" class="table-row"></table-row>
      <table-column ng-if="options.tableColumnFlag" columns="options.columns" class="table-column"></table-column>
    </div>
  </div>
  <table id="user-table" class="table table-striped table-bordered table-hover table-detail" ng-class="{'table-sorting':options.sortFlag}">
    <thead>
    <tr ng-if="options.filterFlag" class="table-filter">
      <!--<th style="width: 30px"></th>-->
      <th ng-repeat="el in options.columns track by $index" ng-if="el.showed">
        <input type="text" class="form-control input-sm" ng-model="filter[el.filter]" ng-disabled="!el.filter" placeholder="{{el.placeholder || el.label}}">
      </th>
    </tr>
    <tr>
      <th ng-repeat="el in options.columns track by $index" ng-if="el.showed" ng-class="{'sorting': el.sort, 'sorting-asc': el.name == sort.name && sort.how == 'asc', 'sorting-desc': el.name == sort.name && sort.how == 'desc'}" ng-click="sortBy($index, $event)"><span ng-bind="el.label"></span></th>
    </tr>
    </thead>
    <tbody ng-if="data.length > 0">
    <tr role="row" ng-repeat="el in data">
      <td ng-repeat="el2 in options.columns" ng-if="el2.showed" ng-bind="el[el2.name]"></td>
    </tr>
    </tbody>
  </table>
  <table-footer page="options.page" ng-if="data.length > 0"></table-footer>
  <div class="no-result" ng-if="!data || data.length < 1">
    无查询结果，请尝试调整查询条件
  </div>
</div>
