<div class="wrapper wrapper-content">
  <section>
    <div class="row">
      <article class="col-sm-12">
        <div class="ibox">
          <div class="ibox-title">
            <h5 ng-bind="getWord('用户列表')">
            </h5>
            <span ibox-tools></span>
          </div>
          <div class="ibox-content no-padding">
            <div class="re-table">
              <div class="table-toolbar">
                <div class=" table-toolbar-action col-xs-12 col-sm-6 no-padding">
                    <div class="input-group table-search">
                      <input type="search" class="form-control input-sm" ng-model="filter.search" ng-enter="searchUsers()" placeholder="{{getWord('关键字查找')}}">
                      <span class="input-group-addon input-sm" role="button" ng-click="searchUsers()"><i class="fa fa-search"></i></span>
                    </div>
                    <a class="btn btn-primary btn-sm" href="" data-toggle="modal" role="button"
                       data-target="#create-user-modal" ng-click="beginCreateUser()"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-primary btn-sm" href="" data-toggle=" " role="button"
                       data-target=" " ng-click="beginDeleteUsers()"><i class="fa fa-trash-o"></i></a>
                </div>
                <div class="table-toolbar-show col-sm-6 col-xs-12 hidden-xs no-padding">
                  <div class="table-length">
                    <select class="form-control input-sm" ng-change="searchUsers()" ng-model="pageRows" ng-options="rowOption.row as rowOption.row for rowOption in pageRowsOptions"></select>
                  </div>
                  <div class="table-column">
                    <table-column-menu></table-column-menu>
                  </div>
                </div>
              </div>
              <table id="user-table" class="table table-striped table-bordered table-hover table-detail">
                <thead>
                <tr class="table-filter">
                  <th style="width: 30px"></th>
                  <th ng-if="columnMenus.username.show"><input type="text" class="form-control input-sm" ng-model="filter.username" ng-enter="searchUsers()" placeholder="用户名过滤"></th>
                  <th ng-if="columnMenus.realname.show"><input type="text" class="form-control input-sm" ng-model="filter.realname" ng-enter="searchUsers()" placeholder="真实姓名过滤"></th>
                  <th ng-if="columnMenus.role_id.show">
                    <select class="form-control input-sm" ng-model="filter.role_id" ng-change="searchUsers()" ng-options="userRole.id as userRole.name for userRole in userRoleList">
                      <option value="">请选择角色</option>
                    </select>
                  </th>
                  <th ng-if="columnMenus.email.show"><input type="text" class="form-control input-sm" ng-model="filter.email" ng-enter="searchUsers()" placeholder="邮箱过滤"></th>
                  <th ng-if="columnMenus.telephone.show"><input type="text" class="form-control input-sm" ng-model="filter.telephone" ng-enter="searchUsers()" placeholder="电话过滤"></th>
                  <th ng-if="columnMenus.description.show"><input type="text" class="form-control input-sm" ng-model="filter.description" ng-enter="searchUsers()" disabled placeholder="描述过滤"></th>
                  <th ng-if="columnMenus.created_time.show">
                    <input type="datetime" class="form-control input-sm" date-time ng-model="filter.created_time" ng-enter="searchUsers()" view="year" auto-close="true" placeholder="创建时间过滤"/>
                    <!--<input type="text" class="form-control input-sm" ng-model="filter.created_time" placeholder="创建时间过滤">-->
                  </th>
                  <th ng-if="columnMenus.locked.show">
                    <select class="form-control input-sm" ng-model="filter.locked" ng-change="searchUsers()" ng-options="lock.value as lock.label for lock in lockedOptions">
                      <option value="">请选择锁定状态</option>
                    </select>
                  </th>
                </tr>
                <tr>
                  <th class="text-center">&nbsp;</th>
                  <th ng-if="columnMenus.username.show" id="user-th-username" class="sorting sorting-none" role="button" ng-click="sortBy('username')"><span ng-bind="getWord('用户名')"></span><i class="sorting-icon fa"></i></th>
                  <th ng-if="columnMenus.realname.show" id="user-th-realname" class="sorting sorting-none" role="button" ng-click="sortBy('realname')"><span ng-bind="getWord('真实姓名')"></span><i class="sorting-icon fa"></i></th>
                  <th ng-if="columnMenus.role_id.show" id="user-th-rolename" class="sorting sorting-none" role="button" ng-click="sortBy('rolename')"><span ng-bind="getWord('角色')"></span><i class="sorting-icon fa"></i></th>
                  <th ng-if="columnMenus.email.show"><span ng-bind="getWord('邮箱')"></span></th>
                  <th ng-if="columnMenus.telephone.show"><span ng-bind="getWord('电话')"></span></th>
                  <th ng-if="columnMenus.description.show"><span ng-bind="getWord('描述')"></span></th>
                  <th ng-if="columnMenus.created_time.show"><span ng-bind="getWord('创建时间')"></span></th>
                  <th ng-if="columnMenus.locked.show"><span ng-bind="getWord('锁定状态')"></span></th>
                </tr>
                </thead>
                <tbody ng-if="users.length > 0">
                <tr role="row" ng-repeat-start="user in users" ng-click="getUserDetail(user)">
                  <td class=""><input type="checkbox" ng-if="!user.buildin" ng-checked="checkedIds.indexOf(user.id) > -1"
                                      ng-click="toggleUser(user.id)"></td>
                  <td class=" "  ng-bind="user.username" ng-if="columnMenus.username.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td class=" "  ng-bind="user.realname" ng-if="columnMenus.realname.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td  ng-bind="user.role.name" ng-if="columnMenus.role_id.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td  ng-bind="user.email" ng-if="columnMenus.email.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td  ng-bind="user.telephone" ng-if="columnMenus.telephone.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td  ng-bind="user.description" ng-if="columnMenus.description.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td  ng-bind="user.created_time" ng-if="columnMenus.created_time.show" role="button" ng-click="toggleDetail(user)"></td>
                  <td  ng-if="columnMenus.locked.show" role="button" ng-click="toggleDetail(user)">
                    <span ng-if="user.locked" class="label label-warning" ng-bind="getWord('锁定')"></span>
                    <span ng-if="!user.locked" class="label label-info" ng-bind="getWord('正常')"></span>
                  </td>
                </tr>
                <tr ng-repeat-end="" id="user-{{user.id}}" style="display: none">
                  <td colspan="10" class="log-detail-wrapper tr-detail">
                    <div class="col-md-12">
                      <!-- BEGIN 个人信息-->
                      <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-12">
                          <div style="padding-top: 10px">
                            <div class="user-img">
                              <img src="/styles/image/profile_header.png" class="img-circle">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-11 col-sm-10 col-xs-12 text-left">
                          <h5 class="mb10">{{getWord('用户名')}}：&nbsp;<span ng-bind="user.username"></span>&nbsp;<small class="label label-warning" ng-if="user.locked">此用户已锁定</small></h5>
                          <ul class="list-inline">
                            <li>{{getWord('用户基本信息')}}：</li>
                            <li><i class="iconfont" ng-class="{'icon-sysadmin':user.role.name==='系统管理员','icon-useradmin':user.role.name==='用户管理员','icon-logchecker':user.role.name==='日志审计员','icon-adduser':user.role.name!=='系统管理员'&&user.role.name!=='日志审计员'&&user.role.name!=='用户管理员'}"></i>&nbsp;<span ng-bind="user.realname"></span></li>
                            <li><i class="iconfont" ng-class="{'icon-sysadmin':user.role.name==='系统管理员','icon-useradmin':user.role.name==='用户管理员','icon-logchecker':user.role.name==='日志审计员','icon-adduser':user.role.name!=='系统管理员'&&user.role.name!=='日志审计员'&&user.role.name!=='用户管理员'}"></i>&nbsp;<a href="" ng-bind="user.role.name"></a></li>
                            <li><i class="iconfont icon-email"></i>&nbsp;<span ng-bind="user.email"></span></li>
                            <li><i class="iconfont icon-phone"></i>&nbsp;<span ng-bind="user.telephone"></span></li>
                          </ul>
                          <ul class="list-inline">
                            <li>{{getWord('用户联系地址')}}：</li>
                            <li><span ng-bind="user.location"></span>&nbsp;<span ng-bind="user.postcode"></span></li>
                          </ul>
                          <ul class="list-inline">
                            <li>{{getWord('用户创建时间')}}：</li>
                            <li><i class="iconfont icon-time"></i>&nbsp;<span ng-bind="user.created_time"></span></li>
                          </ul>
                          <ul class="list-inline">
                            <li>{{getWord('最后修改时间')}}：</li>
                            <li><i class="iconfont icon-time"></i>&nbsp;<span ng-bind="user.updated_time"></span></li>
                          </ul>
                          <ul class="list-inline">
                            <li>{{getWord('最后登录信息')}}：</li>
                            <li><i class="iconfont icon-time"></i>&nbsp;<span ng-bind="user.last_logined_time"></span></li>
                            <li><i class="iconfont icon-ip"></i>&nbsp;<span ng-bind="user.last_logined_ip"></span></li>
                          </ul>
                          <ul class="list-inline">
                            <li><a href="" role="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#update-user-modal"
                                   ng-click="selectUser(user);beginUpdateUser()"><i class="fa fa-pencil"></i>&nbsp;<span ng-bind="getWord('修改信息')"></span></a></li>
                            <li><a href="" role="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#init-pwd-modal"
                                   ng-click="selectUser(user);beginInitPwd()"><i class="fa fa-pencil"></i>&nbsp;<span ng-bind="getWord('修改密码')"></span></a></li>
                            <li ng-if="!user.buildin"><a href=""  role="button" class="btn btn-xs btn-primary" ng-click="selectUser(user);beginDeleteUser()"><i class="fa fa-trash-o"></i>&nbsp;<span ng-bind="getWord('删除用户')"></span></a></li>
                            <li ng-if="user.locked"><a href=""  role="button" class="btn btn-xs btn-primary"  data-toggle="modal" data-target="#unlock-user-modal"
                                                       ng-click="selectUser(user)"><i class="fa fa-unlock"></i>&nbsp;<span ng-bind="getWord('解除锁定')"></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- END 个人信息-->
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table-footer page="page" ng-if="users.length > 0"></table-footer>
              <div class="no-result" ng-if="!users || users.length < 1">
                无查询结果，请尝试调整查询条件
              </div>
            </div>

          </div>
        </div>
      </article>
    </div>
  </section>
</div>
