<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <link rel="stylesheet" type="text/css" href="/styles/css/public.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.min.css">

  </head>
  <body class="cyber-skin">
    <div id="wrapper">
      <div data-ui-view="root"></div>
    </div>


    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/app/app.config.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>

    <script type="text/javascript" src="/app/services/Alert.js"></script>
    <script type="text/javascript" src="/app/services/Utils.js"></script>
    <script type="text/javascript" src="/app/services/User.js"></script>
    <script type="text/javascript" src="/app/services/Role.js"></script>
    <script type="text/javascript" src="/app/directives/ngEnter"></script>
    <script type="text/javascript" src="/app/directives/ngCompileHtml.js"></script>
    <script type="text/javascript" src="/app/directives/table-footer/tableFooter.js"></script>
    <script type="text/javascript" src="/app/directives/table-column/tableColumn.js"></script>
    <script type="text/javascript" src="/app/directives/tableRow.js"></script>
    <script type="text/javascript" src="/app/directives/tableEdit.js"></script>
    <script type="text/javascript" src="/app/directives/ngDateRangePicker.js"></script>
    <script type="text/javascript" src="/app/directives/re-table/reTable.js"></script>
    <script type="text/javascript" src="/app/filters/to_trusted.js"></script>

    <script type="text/javascript" src="/app/layout/module.js"></script>
    <script type="text/javascript" src="/app/layout/layoutCtrl.js"></script>
    <script type="text/javascript" src="/app/layout/directives/sideNavigation.js"></script>
    <script type="text/javascript" src="/app/layout/directives/navToggle.js"></script>
    <script type="text/javascript" src="/app/layout/directives/breadcrumb.js"></script>
    <script type="text/javascript" src="/app/layout/directives/pageTitle.js"></script>

    <script type="text/javascript" src="/app/dashboard/module.js"></script>
    <script type="text/javascript" src="/app/dashboard/dashboardCtrl.js"></script>

    <script type="text/javascript" src="/app/config/module.js"></script>
    <script type="text/javascript" src="/app/config/user/userCtrl.js"></script>
    <script type="text/javascript" src="/app/config/user/create-user-modal/createUserModalCtrl.js"></script>
    <script type="text/javascript" src="/app/config/user/delete-user-modal/delete-user-modal.js"></script>
    <script type="text/javascript" src="/app/config/user/update-user-modal/updateUserModalCtrl.js"></script>

  </body>
</html>
